
<div class="container">
  <main class="text-center" id="main-edit-view">
    <h1 class="titre-page" ng-transclude></h1>
    <form class="form-horizontal text-left" name="myCreateForm">
      <div class="form-group">
        <label for="inputText0" class="col-sm-2 control-label">Titre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputText0" ng-model="movie.name" placeholder="Titre du film">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText1" class="col-sm-2 control-label">Affiche du film</label>
        <div class="col-sm-10">
          <img ng-src="{{movie.img}}" alt="Pas d'affiche disponible" id="inputText1" width="100px" height="150px" ng-model="movie.img">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText2" class="col-sm-2 control-label">Réalisateur</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputText2" ng-model="movie.realisator" placeholder="Nom du réalisateur">
        </div>
      </div>

      <div class="form-group" ng-repeat="actor in movie.actors">
        <label for="inputText3" class="col-sm-2 control-label">Acteurs {{$index + 1}}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputText3" ng-model="actor.name" placeholder="Nom des acteurs">
        </div>
        <div class="col-sm-12 text-right">
          <button class="btn btn-md btn-warning btn-default removeActor" ng-click="removeActor($index)">Retirer</button>
        </div>
      </div>

      <div class="col-sm-6 col-sm-offset-6 text-right no-padd">
        <button class="btn btn-md btn-success btn-default addActor" ng-click="addActor()">Ajouter un nouvel acteur</button>
      </div>

      <div class="form-group">
        <label for="inputText4" class="col-sm-2 control-label">Sortie</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="inputText4" ng-model="movie.releaseDate">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText5" class="col-sm-2 control-label">Note du film</label>
        <div class="col-sm-4">
          <select ng-model="movie.rating" name="rating"  id="inputText5" ng-options="rate.value as rate.label for rate in filmRating" class="form-control input-lg" required></select>
        </div>
      </div>
      <div class="form-group">
        <label for="file-upload" class="col-sm-2 control-label">Nouvelle affiche (img)</label>
        <div class="col-sm-6">
          <input type="file" name="upload" class="form-control" id="file-upload">
        </div>
      </div>
      <div class="form-group">
        <div class="text-right">
          <button type="submit" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModalUpdate" ng-click="saveMovie(movie)">Enregistrer</button>
        </div>
      </div>
    </form>
    <div class="text-center">
      <a class="btn btn-default btn-sm btn-return" ng-href="/#/movies">Retour à la liste des films</a>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">CONFIRMATION</h4>
          </div>
          <div class="modal-body text-center">
            Votre modification a bien été enregistrée !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
