<div class="title-connection">
  <h4>Pour accéder à Ciné-Movies, merci de vous identifier :</h4>
</div>
<form ng-submit="connect(user.email, user.password)" name="loginForm">
  <div class="form-group">
    <label for="inputemail">Votre adresse email</label>
    <input type="text" class="form-control" name="loginForm" id="inputemail" placeholder="Votre email" required ng-model="user.email">
  </div>
  <div class="form-group">
    <label for="inputpassword">Password</label>
    <input type="password" class="form-control" id="inputpassword" placeholder="Votre mot de passe" name="loginForm" ng-model="user.password" required>
  </div>
  <button type="submit" class="btn btn-success">Se connecter</button>
  <button type="submit" class="btn btn-default" ng-click="reset()">reset</button>
</form>
