
<div class="container">
  <main class="text-center" id="main-edit-view">
    <h1 class="titre-page">Ajouter un nouveau film</h1>
    <form class="form-horizontal text-left" name="myCreateForm">
      <div class="form-group">
        <label for="inputText0" class="col-sm-2 control-label">Titre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputText0" ng-model="film.name" placeholder="Nom du réalisateur">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText1" class="col-sm-2 control-label">Affiche du film</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputText1" ng-model="film.affiche" placeholder="Affiche du film">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText2" class="col-sm-2 control-label">Réalisateur</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputText2" ng-model="film.realisator" placeholder="Nom du réalisateur">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText3" class="col-sm-2 control-label">Acteurs</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputText3" ng-model="film.actors" placeholder="Nom des acteurs">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText4" class="col-sm-2 control-label">Sortie</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="inputText4" ng-model="film.releaseDate" placeholder="Date de sortie">
        </div>
      </div>
      <div class="form-group">
        <label for="inputText5" class="col-sm-2 control-label">Note du film</label>
        <div class="col-sm-4">
          <select ng-model="film.rating" name="rating"  id="inputText5" ng-options="rate.value as rate.label for rate in filmRating" class="form-control input-lg" required></select>
        </div>
      </div>
      <div class="form-group">
        <label for="file-upload" class="col-sm-2 control-label">Affiche (img)</label>
        <div class="col-sm-6">
          <input type="file" name="upload" class="form-control" id="file-upload" ng-model="film.releaseDate" placeholder="Date de sortie">
        </div>
      </div>
      <div class="form-group">
        <div class="text-right">
          <button type="submit" class="btn btn-success btn-lg" ng-click="saveFilm(film)" ng-disabled="">Enregistrer</button>
        </div>
      </div>
    </form>
    <div class="text-center">
      <a class="btn btn-default btn-sm btn-return" ng-href="/#/">Retour à la liste des films</a>
    </div>
  </main>
</div>
